# database config
DATABASE_HOST = localhost
DATABASE_PORT = 3306
DATABASE_USER = root
DATABASE_PASSWORD = abc321456
DATABASE_NAME = ckb_test_1
SEQUELIZE_ENABLE_LOGGING = true


# lock config
ETH_LOCK_TYPE_ID = 0xac8a4bc0656aeee68d4414681f4b2611341c4f0edd4c022f2d250ef8bb58682f
ETH_LOCK_TX_HASH = 0xff1bb8baaa5fca57b82901f993b35d1c5f697c855133fad90ffe482c3e342612


# ckb node 
CKB_RPC_ENDPOINT = http://127.0.0.1:8114